# CODEOWNERS

# Repo administration and general docs
.github/** @MalejaGS @Samu-Kiss
README.md @MalejaGS @Samu-Kiss

# Maven/build files
Pontiland/pom.xml @GlaTress @N-Torresito @JDOG-JuanDORtiz @Samu-Kiss

# Backend — controllers/services
Pontiland/src/main/java/pontiland/controllers/** @GlaTress @N-Torresito
Pontiland/src/main/java/pontiland/services/** @GlaTress @N-Torresito

# Persistence and data model — backend + DBA
Pontiland/src/main/java/pontiland/repository/** @GlaTress @N-Torresito @JDOG-JuanDORtiz
Pontiland/src/main/java/pontiland/entities/** @GlaTress @N-Torresito @JDOG-JuanDORtiz
Pontiland/src/main/java/pontiland/utils/** @JDOG-JuanDORtiz @MalejaGS
Pontiland/src/main/resources/SQL/** @JDOG-JuanDORtiz @MalejaGS

# UI/View — frontend + designer
Pontiland/src/main/java/pontiland/view/** @Samu-Kiss @GlaTress @santiagom27
Pontiland/src/main/resources/graphics/** @Samu-Kiss @GlaTress @santiagom27


# Tests — QA
Pontiland/src/test/** @MalejaGS 

# Documentation/UML (if/when present)
docs/** @N-Torresito @santiagom27 @JDOG-JuanDORtiz